<div class="headerDiv">
  <div class="topNav boxOne">
    <a href="/"><img class="pageLogo pointer" src="/images/logo.png" alt="logo"></a>
    <ul class="hamburgerMenu pointer">
      <li class="hamburgerMenu"></li>
      <li class="hamburgerMenu"></li>
      <li class="hamburgerMenu"></li>
    </ul>
    <ul class="nav">
      <% navLinks.forEach(nav => {%>
        <li class="navLi logout">
          <a class="navLink" href="<%- nav.link %>"><%- nav.name %></a>
        </li>
      <%})%>
    </ul>
  </div>
</div>