<%- include('partials/head')%>
<div>
  <ul class="nav">
    <a class="navLink" href="/logout"><li class="navLi logout">Logout</li></a>
    <a class="navLink" href="customer"><li class="navLi">Customer List</li></a>
  </ul>
</div>
<h2 class="subTitle">Create a new Customer</h2>
<div id="addCustomerForm">
  <label for="customerFirstName">First Name</label>
  <input id="customerFirstName" class="inputs cusInput" type="text" name="customerFirstName" placeholder="first name"><br>
  <label for="customerLastName">Last Name</label>
  <input id="customerLastName" class="inputs cusInput" type="text" name="customerLastName" placeholder="last name"><br>
  <label for="phone">Phone Number</label>
  <input id="phone" class="inputs cusInput" type="text" name="phone" placeholder="e.g. 6041231234">
  <h3 class="inoutSectionTitle">Address</h3>
  <label for="street">Street</label>
  <input id="street" class="inputs cusInput" type="text" name="street" placeholder="e.g. 123 main street"><br>
  <label for="city">City</label>
  <input id="city" class="inputs cusInput" type="text" name="city" placeholder="e.g. Vancouver"><br>
  <label for="postcode">Postcode</label>
  <input id="postcode" class="inputs cusInput" type="text" name="postcode" placeholder="e.g. V1A 3B6"><br>
  <label for="country">Country</label>
  <input id="country" class="inputs cusInput" type="text" name="country" placeholder="e.g. canada"><br>
  
  <h3 class="inoutSectionTitle">History</h3>
  <label for="date">Last Visited Date</label>
  <input id="date" class="inputs cusInput" type="date" name="date"><br>
  <label for="work">Last Visited Work</label>
  <input id="work" class="inputs cusInput" type="text" name="work" placeholder="e.g. Fixed pump"><br>
  
  <label for="comments">Comments</label><br>
  <textarea name="comments" id="comments" cols="100" rows="10"></textarea><br>
  <button id="newCustomerButton" class="btn">Submit</button>
</div>
<%- include('partials/footer') %>