<%- include('partials/head')%>
<div>
  <ul class="nav">
    <a class="navLink" href="/logout"><li class="navLi logout">Logout</li></a>
    <a class="navLink" href="/addEditCustomer"><li class="navLi">Add New Customer</li></a>
  </ul>
  <div id="searchDiv">
    <label for="seach"></label>
    <input id="searchInput" class="inputs" type="search" name="search" placeholder="Search...   first name, last name, street name, phone number, or customer ID">
    <i class="fas fa-search"></i>
  </div>
</div>
<h2 class="subTitle">All Customers</h2>
<div id="customerList">
  <ul id="tableHeader">
    <li class="col">customerID</li>
    <li class="col">Name</li>
    <li class="col">email</li>
    <li class="col">Phone number</li>
    <li class="col">Address</li>
    <li>
    </li>
  </ul>

  <div id="dataDiv">

  </div>
</div>
<%- include('partials/footer') %>