<%- include('partials/head')%>
<div class="headerDiv">
  <a href="/"><img class="pageLogo" src="/images/logo.png" alt="logo"></a>
  <ul class="nav">
    <a class="navLink" href="/logout"><li class="navLi logout">Logout</li></a>
    <a class="navLink" href="/addEditCustomer"><li class="navLi">Add New Customer</li></a>
    <a class="navLink" href="/productConfig"><li class="navLi">Product Configuration</li></a>
  </ul>
  <div id="searchDiv">
    <label for="seach"></label>
    <input id="searchInput" class="inputs" type="search" name="search" placeholder="Search...   first name, last name, or phone number">
    <i id="searchCustomerIcon" class="fas fa-search"></i>
    <div id="foundCustomerDiv">
      <!-- data will be here if found the customer -->
    </div>
  </div>
</div>
<h2 class="subTitle">All Customers</h2>
<div id="customerList">
  <ul id="tableHeader">
    <li class="col">customerID</li>
    <li class="col">Name</li>
    <li class="col">email</li>
    <li class="col">Phone number</li>
    <li class="col">Address</li>
    <li>
    </li>
  </ul>
  <div id="mainAddWorkDiv" class="workForm">
    <p id="cusNameP"></p>
    <label for="date">Date</label>
    <input id="cusDateInput" class="inputs cusInput" type="date" name="date"><br>
    <label for="work">Service</label>
    <input id="cusWorkInput" class="inputs cusInput" type="text" name="work" placeholder="e.g. Fixed pump"><br>
    <button id="cusSubmitWork" class="submitNewWork smallBtnOne" >Submit</button>
    <button id="cusWorkCancel" class="cancel smallBtnOne" >Cancel</button>
  </div>

  <div id="dataDiv">
    <!-- customer data come from database -->
  </div>
</div>
<%- include('partials/footer') %>