<%- include('partials/head')%>
<div>
  <ul class="nav">
    <a class="navLink" href="/"><li class="navLi">Logout</li></a>
    <a class="navLink" href="/customerList"><li class="navLi">Customer List</li></a>
  </ul>
</div>
<div id="customerDetailDiv">
  <h2>Customer Detail</h2>
  <div id="detailDiv" data-id="<%-id%>">
  </div>
</div>
<%- include('partials/footer') %>