<%- include('partials/head')%>
<div>
  <ul class="nav">
    <a class="navLink" href="/"><li class="navLi">Logout</li></a>
    <a class="navLink" href="addCustomer"><li class="navLi">Add New Customer</li></a>
  </ul>
  <div id="searchDiv">
    <label for="seach"></label>
    <input id="searchInput" class="inputs" type="text" name="search" placeholder="Search...   first name, last name, street name, phone number, or customer ID">
    <i class="fas fa-search"></i>
  </div>
</div>
<h2 class="subTitle">All Customers</h2>
<div id="customerList">
  <ul id="tableHeader">
    <li class="col">customerID</li>
    <li class="col">Name</li>
    <li class="col">Phone number</li>
    <li class="col">Address</li>
    <li>
    </li>
  </ul>

  <div id="dataDiv">
    <!-- 
      database from customer data here
      below is example
    -->
    <ul class="custmerData">
      <a href="customerDetail"><li class="data">1346282</li></a>
      <li class="data">Izzy Sato</li>
      <li class="data">604 123 1234</li>
      <li class="data">3912 Parker Street Burnaby BC V5C 3E9 Canada</li>
      <li class="data">
        <div>
          <i class="fas fa-edit customerPageIcon"></i>
          <i class="fas fa-trash-alt customerPageIcon"></i>
          <i class="fas fa-star customerPageIcon"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include('partials/footer') %>