<%- include('partials/head')%>
<section>
  <div id="loginForm" class="form">
    <a href="/"><img class="pageLogo" src="/images/logo.png" alt="logo"></a>
    <div id="loginDiv">
      <h2 id="sectionTitle">Login</h2>
      <div class="inputDiv">
        <label for="username"></label>
        <input id="username" class="inputs" type="email" name="username" placeholder="email">
      </div>
      <div class="inputDiv">
        <label for="password"></label>
        <input id="password" class="inputs" type="password" name="password" placeholder="password">
      </div>
      <button id="loginButton" class="btn">Login</button>
      <a id="newUserButton" href="/register">New user? register</a>
    </div>
  </div>
  <div id="signinWithSocial">
    <div id="google" class="btn socialBtn">
      <i class="fab fa-google icon"></i>
      <a class="buttonTitle" href="/auth/google" role="button">Sign up with Google</a>
    </div>
    <div id="facebook" class="btn socialBtn">
      <i class="fab fa-facebook-square icon"></i>
      <a class="buttonTitle" href="/auth/facebook" role="button">Sign up with facebook</a>
    </div>
  </div>
</section>

<%- include('partials/footer') %>