<%- include('partials/head')%>
<%- include('partials/nav')%>

<h2 class="subTitle">Product Configuration</h2>
<div id="productConfigMessageDiv" class="messageDiv">
  <!-- error message will be here from client side (productConfig.js) -->
</div>
<section id="configSection">
  <div id="addModelBrandDiv" class="addEditModelDiv boxTwo">
    <section>
      <div id="addModelDiv">
        <h3 class="sectionTitle">Add a new Model</h3>
        <label id="prodBrandLabel" for="brand">Brand Name</label>
        <select id="brandNameSelect" name="brandName" class="brandSelect">
          <!-- get data from client js -->
        </select><br>
        <label id="prodModelLabel" class="modelLabel" for="model">Model Name</label>
        <input id="newModel" class="inputs modelInputs" type="text" name="model">
        <button id="addModelBtn" class="smallBtnOne">Add Model</button>
      </div>
    </section>
    <section>
      <h3 id="newBrandH3" class="sectionTitle">Add a new Brand</h3>
      <label class="modelLabel" for="brand">Brand Name</label>
      <input id="newBrand" class="inputs modelInputs" type="text" name="brandName">
      <button id="addBrandBtn" class="smallBtnOne">Add Brand</button>
    </section>
  </div>

  <div id="editModelDiv" class="addEditModelDiv boxTwo">
    <h3 class="sectionTitle">Edit or Remove Brand / Model</h3>
    <div id="searchModelDiv">
      <label for="seachModel">Seach Models</label><br>
      <i id="searchModelIcon" class="fas fa-search pointer"></i>
      <input id="seachModelInput" class="inputs modelInputs" type="text" name="searchModel"
        placeholder="Seach Model">
    </div>
    <div id="editHottubDiv">
      <label for="model">Edit</label><br>
      <input data-brand="" data-model="" id="editInput" class="inputs modelInputs" type="text"
        name="editInput"><br>
      <div class="buttonsDiv">
        <button id="editHottub" class="smallBtnOne submitBtn">Submit</button>
        <button data-name="editInput" class="smallBtnOne clearInputVal">Clear</button>
        <!-- data-div is parent ID which will be close -->
        <button data-div="editHottubDiv" class="smallBtnOne cancelEdit">Cancel</button>
      </div>
    </div>

    <div id="editModelInputDiv" class="foundSection">
      <ul class="foundDiv">
        <!-- found models here -->
      </ul>
      <div class="noFoundDiv">
        <h4 id="prodNoFoundH4">Sorry, no models found</h4>
      </div>
      <!-- data-div is parent ID which will be close -->
      <button data-div="editModelInputDiv" id="prodFoundCancelBtn" class="cancelEdit smallBtnOne">close</button>
    </div>

    <h3 class="sectionTitle">All Brands</h3>
    <ul id="brandUl" class="hottubUl">
      <!-- data insert here from client js (addEditCustomer.js) -->
    </ul>
    <h3 class="sectionTitle">All Models</h3>
    <ul id="modelsUl" class="hottubUl">
      <!-- data insert here from client js (addEditCustomer.js) -->
    </ul>
  </div>
</section>

<%- include('partials/footer') %>