<%- include('partials/head')%>
<%- include('partials/nav')%>

<h2 class="subTitle">Product Configuration</h2>
<section id="configSection">
  <div id="addModelBrandDiv" class="addEditModelDiv boxTwo">
    <section>
      <div id="addModelDiv">
        <h3>Add a new Model</h3>
        <label for="brand">Brand Name</label>
        <select id="brandNameSelect" name="brandName" class="brandSelect">
          <!-- get data from client js -->
        </select><br>
        <label class="modelLabel" for="model">Model Name</label>
        <input id="newModel" class="inputs cusInput modelInputs" type="text" name="model">
        <button id="addModelBtn" class="smallBtnOne">Add Model</button>
      </div>
    </section>
    <section>
      <h3 id="newBrandH3">Add a new Brand</h3>
      <label class="modelLabel" for="brand">Brand Name</label>
        <input id="newBrand" class="inputs cusInput modelInputs" type="text" name="brandName">
        <button id="addBrandBtn" class="smallBtnOne">Add Brand</button>
    </section>
  </div>

  <div id="editModelDiv" class="addEditModelDiv boxTwo">
    <h3>Edit or Remove Brand / Model</h3>
    <div id="searchModelDiv">
      <label for="seachModel">Seach Brand/Model</label><br>
      <input id="seachModelInput" class="inputs cusInput modelInputs" type="text" name="searchModel" placeholder="Seach Model">
      <button id="seachModelBtn" class="smallBtnOne">Seach</button>
    </div>
    <div id="editHottubDiv">
      <label for="model">Edit</label><br>
      <input data-brand="" data-model="" id="editInput" class="inputs cusInput modelInputs" type="text" name="editInput">
      <button id="editHottub" class="smallBtnOne">Edit</button>
    </div>
    <div id="editModelInputDiv">
      <div>
        <ul id="foundModels">
          <!-- found models here -->
        </ul>
      </div>

      <div id="noFoundModel">
        <h4>Sorry, no models found.</h4>
      </div>
    </div>

    <h3>All Brands</h3>
    <ul id="brandUl">
      <!-- data insert here from client js (addEditCustomer.js) -->
    </ul>
    <h3>All Models</h3>
    <ul id="modelsUl">
      <!-- data insert here from client js (addEditCustomer.js) -->
    </ul>
  </div>
</section>

<%- include('partials/footer') %>