<%- include('partials/head')%>
<div id="registerForm" class="form">
  <img class="logo" src="/images/logo.png" alt="logo">
  <div id="registerDiv">
    <h2>Register</h2>
    <div class="inputDiv">
      <label for="username"></label>
      <input id="newUsername" class="inputs" type="text" name="username" placeholder="email">
    </div>
    <div class="inputDiv">
      <label for="password"></label>
      <input id="newPassword" class="inputs" type="text" name="password" placeholder="password">
    </div>
    <button id="registerButton" class="btn">Register</button>
  </div>
</div>
<%- include('partials/footer') %>