<%- include('partials/head')%>
<div id="registerForm" class="form">
  <a href="/"><img class="pageLogo" src="/images/logo.png" alt="logo"></a>
  <div id="registerDiv">
    <h2 class="sectionTitle">Register</h2>
    <div class="inputDiv">
      <label for="userFirstName"></label>
      <input id="userFirstName" class="inputs regiInput" type="text" name="userFirstName" placeholder="first name" required>
    </div>
    <div class="inputDiv">
      <label for="userLastName"></label>
      <input id="userLastName" class="inputs regiInput" type="text" name="userLastName" placeholder="last name" required>
    </div>
    <div class="inputDiv">
      <label for="username"></label>
      <input id="newUsername" class="inputs regiInput" type="email" name="username" placeholder="email" required>
    </div>
    <div class="inputDiv">
      <label for="password"></label>
      <input id="newPassword" class="inputs regiInput" type="password" name="password" placeholder="password" required>
    </div>
    <button id="registerButton" class="btn">Register</button>
  </div>
</div>
<%- include('partials/footer') %>