@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
:root{
  --main-color: rgb(78, 110, 214);
  --sub-color:rgb(64, 90, 175);
  --light-main-color: rgb(175, 192, 250);
  --darker-main-color: rgb(37, 54, 107);
  --font-main-color: rgb(255, 255, 255);
  --font-sub-color: rgb(22, 22, 22);
  --font-highlight-color: rgb(6, 56, 114);
  --google-color: #DB4437;
  --google-hover-color:  #852820;
  --facebook-color: #3b5998;
  --facebook-hover-color: #213257;
  --btn-color: rgb(58, 80, 114);
  --btn-hover-color: rgb(24, 33, 46);
  --success-color: #4BB543;
  --success-darker-color: #2a6826;
  --error-color: #ed4337;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--background-color);
  padding: 5%;
  font-size: 15pt;
  color: var(--font-main-color);
}

i{
  font-family: 'Source Sans Pro', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  margin: 0;
}

h1, h2, h3, h4, p{
  margin: 0;
}

/* common style */
.btn{
  background-color: var(--btn-color);
  padding: 1.6% 5%;
  font-size: 0.8em;
  border: none;
  border-radius: 6px;
  color: var(--font-main-color);
  text-transform: uppercase;
}

.btn:hover{
  cursor: pointer;
  background-color: var(--btn-hover-color);
}

.pointer:hover{
  cursor: pointer;
}

.smallBtnOne{
  margin: 0 2% 0 1%;
  border-radius: 8px;
  padding: 3px 8px;
  border: none;
}

.smallBtnOne:hover{
  background-color: var(--light-main-color);
}

.subTitle{
  margin: 3% 0 2% 0;
  color: var(--font-sub-color)
}

.sectionTitle{
  margin-bottom: 3%;
}

.pageLogo{
  position: absolute;
  top: 9%;
  left: 8%;
}

.topNav{
  padding: 2% 0 2% 15%;
}

.navLi{
  display: inline;
  padding-right: 3%;
}

.navLink{
  color: var(--font-main-color);
  text-decoration: none;
  padding: 1.3%;
}

.navLink:hover{
  color: var(--btn-hover-color);
}

ul.hamburgerMenu{
  display: none;
}

.boxOne{
  background-color: var(--main-color);
  border-radius: 8px;
}

.boxTwo{
  background-color: var(--darker-main-color);
  border-radius: 8px;
}

#successSection{
  background-color: var(--success-color);
  padding: 2%;
  text-align: center;
}

.inputs{
  width: 65%;
  border: none;
  border-radius: 6px;
  margin-bottom: 25px;
  padding: 1% 2%;
}

.clearAllInput{
  margin: 0  0 2% 0;
}

.messageDiv{
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  text-align: center;
  z-index: 1;
}

.messageText{
  padding: 1.7%;
  font-size: 0.9em;
}

.messageIcon{
  font-size: 5em;
}

.message{
  border: 1px solid black;;
}

.messageIconDiv{
  padding: 4% 0;
}

.error{
  background-color: var(--error-color);
}

.success{
  background-color: var(--success-color);
}

.messageArea{
  padding: 5% 0;
  background-color: var(--font-main-color);
  color: var(--font-sub-color);
}

#confirmMessageDiv{
  background-color: var(--light-main-color);
  color: var(--font-sub-color);
  padding: 3% 0;
  border: 1px solid black;
}

.submitBtn{
  background-color: var(--success-color);
  color: var(--font-main-color);
}

.submitBtn:hover{
  background-color: var(--success-darker-color);;
}

.foundSection{
  display: none;
}

.noFoundDiv{
  display: none;
}

.foundDiv{
  display: none;
  padding: 1%;
  border-radius: 8px;
}

/* index (login page) */

.logo{
  position: absolute;
  left: 5%;
  top: 8%;
}
.form{
  text-align: center;
  background-color: var(--main-color);
  padding: 2% 0 5% 0;
  position: relative;
  border-radius: 8px;
}

#sectionTitle{
  font-size: 1.8em;
  margin-bottom: 4%;
}

.lablels{
  margin-bottom: 25px;
}

#newUserButton{
  margin-top: 15px;
  display: block;
  color: var(--font-main-color);
}

#signinWithSocial{
  margin-top: 10%;
}

.socialBtn{
  margin: 4% 30%;
  padding: 1% 4%;
  border-radius: 6px;
  position: relative;
}

#google{
  background-color: var(--google-color);
}

#google:hover{
  background-color: var(--google-hover-color);
}

#facebook{
  background-color: var(--facebook-color);
}

#facebook:hover{
  background-color: var(--facebook-hover-color);
}

.loginInput{
  width: 50%;
}

.buttonTitle{
  display: inline;
  padding-left: 15px;
  text-decoration: none;
  color: var(--font-main-color);
}

.icon{
  font-size: 1.3em;
  position: absolute;
  left: 3%;
}

.fa-facebook-square{
  font-size: 1.5em;
}

/* register page */

#registerForm{
  background-color: var(--sub-color);
}

/* customerList page */

#searchDiv{
  border-radius: 8px;
  margin-top: 2%;
}

#searchInput{
  border: 1px solid black;
  padding-left: 4%;
}

#searchInputArea{
  position: relative;
}

#searchCustomerIcon{
  position: absolute;
  top: 20%;
  left: 1%;
  color: var(--main-color);
}

#tableHeader{
  background-color: var(--sub-color);
  color: var(--font-main-color);
  padding: 1% 0;
  text-align: center;
  border-radius: 8px;
}

.col{
  border-right: 1px solid white;
}

#dataDiv{
  margin-top: 5%;
}

.cusLiSpan{
  display: none;
}

.custmerData{
  color: var(--font-sub-color);
  margin-bottom: 2%;
}

#tableHeader, .custmerData{
  display: grid;
  grid-template-columns: 17% 17% 18% 13% 25% 10% ;
}

.cusID, .cusAddress{
  font-size: 0.8em;
}

#searchInput{
  margin-bottom: 0;
}

.customerPageIcon{
  font-size: 0.9em;
  margin: 0 5px;
  color: var(--main-color);
  padding: 2px;
  border-radius: 4px;
}

.customerPageIcon:hover{
  color: var(--darker-main-color);
}

.detailBtn{
  font-size: 0.7em;
  text-decoration: none;
  color: var(--font-main-color);
  background-color: var(--main-color);
  padding: 3px 5px;
  border-radius: 8px;
}

.detailBtn:hover{
  background-color: var(--btn-hover-color);
  color: var(--font-main-color);
}

.sIcons{
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

/* addEditCustomer page */

#addCustomerForm{
  padding: 5%;
}

.cusInput{
  margin-left: 20px;
}

#comments{
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}

.inoutSectionTitle{
  border-bottom-style: solid; 
}

#newCustomerButton{
  margin-top: 5%;
}

#modelBtnDiv{
  margin: 2% 0;
}

.modelText{
  font-size: 0.8em;
  text-decoration: underline;
  margin-right: 1%;
}

#addModelDivOpenBtn{
  background-color: var(--btn-color);
  color: var(--font-main-color);
  text-decoration: none;
}

#addModelDivOpenBtn:hover{
  background-color: var(--btn-hover-color);
}

.modelInputs{
  margin: 10px 15px;
}

.modelIcon{
  margin-left: 1%;
}

.modelLabel{
  font-size: 0.8em;
}

/* customerDetail */

#customerDetailDiv{
  color: var(--font-sub-color);
}

.cusDetailHeader{
  font-size: 0.8em;
}

.cusDetailData{
  color: var(--font-highlight-color);
  margin: 2% 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#detailDiv{
  margin-top: 3%;
  display: grid;
  grid-template-columns: 40% 60%;
}

#nameGrid{
  display: grid;
  grid-template-columns: 50% 50%;
}

#hottubBrandModel{
  font-size: 2em;
  margin: 15px 0 15px 0;
}

#workDiv{
  background-color: var(--main-color);
  padding: 3%;
  border-radius: 8px;
}

#newWorkForm{
  background-color: var(--darker-main-color);
}

.serviceDiv{
  background-color: var(--darker-main-color);
  color: var(--font-main-color);
  padding: 1.5%;
  border-radius: 8px;
  margin-top: 2%;
}

#cusNameWorkDiv{
  margin-bottom: 13%;
}

.workP{
  color: var(--font-main-color);
}

.workForm{
  display: none;
  position: fixed;
  padding: 5% 10%;
  top: 0;
  left: 25%;
  background-color: var(--main-color);
  color: var(--font-main-color);
  border-radius: 8px;
}

.workInput{
  width: 100%;
  margin: 1% 0 13% 0;
}

/* product config page */
.addEditModelDiv{
  margin-bottom: 2%;
  padding: 2%;
}

#newBrandH3{
  border-top: 1px solid white;
  margin-top: 2%;
  padding-top: 2%;
}

#editModelInputDiv{
  display: none;
  margin-bottom: 5%;
}

#editHottubDiv{
  display: none;
  position: fixed;
  top: 0;
  left: 30%;
  background-color: var(--main-color);
  border: 1px solid black;
  padding: 1% 8%;
  border-radius: 8px;
}

.buttonsDiv{
  display: inline-flex;
}

.hottubUl{
  margin-bottom: 3%;
}

#searchModelDiv{
  position: relative;
  margin: 3% 0;
}

#searchModelIcon{
  color: var(--font-sub-color);
  position: absolute;
  top: 65%;
  right: 37%;
}

#seachModelInput{
  margin: 2% 2% 0 0;
}

#editInput{
  margin-left: 0;
}

@media screen and (max-width: 1350px) {

  /* navigation area */
  .pageLogo{
    top: 7%;
  }

  /* customerList page */

  #tableHeader{
    display: none;
  }

  .custmerData {
    display: block;
    margin-bottom: 5%;
    background-color: var(--darker-main-color);
    border-radius: 8px;
    color: var(--font-main-color);
    padding: 3% 10%;
  }

  .customerPageIcon{
    color: var(--font-main-color);
  }

  .customerPageIcon:hover{
    color: var(--light-main-color);
  }

  .detailBtn{
    background-color: var(--font-main-color);
    color: var(--darker-main-color);
  }

  .detailBtn:hover{
    background-color: var(--light-main-color);
    color: var(--darker-main-color);
  }

  .addHistoryBtn{
    margin-top: 2%;
  }

  .cusLiSpan{
    display: inline-block;
    padding-right: 20px;
  }

  .sIcons {
    display: block;
  }

  .data{
    margin-bottom: 1%;
  }
}

/* iPadPro screen size */
@media screen and (max-width: 1030px) {

  /* navigation area */
  .nav{
    display: none;
  }

  .nav.show{
    display: block;
  }

  .pageLogo{
    top: 6%;
  }

  .topNav{
    padding: 5% 0 5% 15%;
  }

  ul.hamburgerMenu{
    display: block;
    position: absolute;
    top: 6%;
    right: 8%;
  }

  li.hamburgerMenu{
    width: 45px;
    height: 6px;
    margin-bottom: 25%;
    background-color: var(--font-main-color);
  }

  .nav{
    padding-top: 5%;
  }

  .navLi{
    display: block;
    text-align: right;
  }

  /* login page */
  .socialBtn{
    margin: 5% 20%;
  }

  /* customer detail page */
  #detailDiv{
    display: block;
  }
}

@media screen and (max-width: 850px) {
    /* navigation area */
    .pageLogo{
      top: 5%;
    }
  
    ul.hamburgerMenu{
      top: 6%;
    }

    .topNav{
      padding: 10% 0 5% 12%;
    }
}

@media screen and (max-width: 680px) {
    /* navigation area */
    .pageLogo{
      top: 4%;
    }
  
    ul.hamburgerMenu{
      top: 5%;
    }
}

  /* iPhone X size */
@media screen and (max-width: 500px) {
  body{
    padding: 2%;
  }

  /* navigation area */
  .topNav{
    padding: 18% 0 5% 12%;
  }

  .pageLogo{
    top: 3%;
  }

  ul.hamburgerMenu{
    top: 4%;
  }

  .inputs{
    width: 100%;
  }

  /* login page */
  .loginInput{
    width: 80%;
  }

  .socialBtn{
    margin: 8% 4%;
    padding: 3% 13%;
  }

  /* customer List page */
  #searchInput{
    padding-left: 9%;
  }

  /* addEditCustomer page */
  .cusInput{
    margin-left: 0;
    width: 95%;
  }
  .hottubLabel{
    display: block;
    margin-bottom: 5%;
  }

  /* productConfig page */
  #searchModelIcon{
    top: 46%;
    right: 7%;
  }
}
