@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
:root{
  --main-color: rgb(78, 110, 214);
  --sub-color:rgb(64, 90, 175);
  --light-main-color: rgb(175, 192, 250);
  --darker-main-color: rgb(37, 54, 107);
  --font-main-color: rgb(255, 255, 255);
  --font-sub-color: rgb(22, 22, 22);
  --font-highlight-color: rgb(6, 56, 114);
  --google-color: #DB4437;
  --google-hover-color:  #852820;
  --facebook-color: #3b5998;
  --facebook-hover-color: #213257;
  --btn-color: rgb(58, 80, 114);
  --btn-hover-color: rgb(24, 33, 46);
  --success-color: rgb(66, 165, 107);
  --error-color: rgb(170, 19, 19);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--background-color);
  padding: 5%;
  font-size: 15pt;
  color: var(--font-main-color);
}

i{
  font-family: 'Source Sans Pro', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  margin: 0;
}

/* common style */
.btn{
  background-color: var(--btn-color);
  padding: 1.6% 5%;
  font-size: 0.8em;
  border: none;
  border-radius: 6px;
  color: var(--font-main-color);
  text-transform: uppercase;
}

.btn:hover{
  cursor: pointer;
  background-color: var(--btn-hover-color);
}

.pointer:hover{
  cursor: pointer;
}

.smallBtnOne{
  margin: 0 2% 0 1%;
  border-radius: 8px;
  padding: 3px 8px;
  border: none;
}

.smallBtnOne:hover{
  background-color: var(--light-main-color);
}

input{
  padding-left: 15px;
}

::placeholder{
  padding-left: 15px;
}

.subTitle{
  color: var(--font-sub-color)
}

.pageLogo{
  position: absolute;
  top: 9%;
  left: 8%;
}

.topNav{
  padding: 2% 0 2% 12%;
}

.navLi{
  display: inline;
  padding-right: 10px;
}

.navLink{
  color: var(--font-main-color);
  text-decoration: none;
  padding: 1.3%;
}

.navLink:hover{
  color: var(--btn-hover-color);
}

ul.hamburgerMenu{
  display: none;
}

.boxOne{
  background-color: var(--main-color);
  border-radius: 8px;
}

.boxTwo{
  background-color: var(--darker-main-color);
  border-radius: 8px;
}

#successSection{
  background-color: var(--success-color);
  padding: 2%;
  text-align: center;
}

/* index (login page) */

.logo{
  position: absolute;
  left: 5%;
  top: 8%;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 2% 0 5% 0;
  position: relative;
  border-radius: 8px;
}

#sectionTitle{
  font-size: 1.8em;
  margin-bottom: 4%;
}

.lablels{
  margin-bottom: 25px;
}
.inputs{
  width: 500px;
  height: 30px;
  border: none;
  border-radius: 6px;
  margin-bottom: 25px;
}

#newUserButton{
  margin-top: 15px;
  display: block;
  color: var(--font-main-color);
}

#signinWithSocial{
  margin-top: 10%;
}

.socialBtn{
  margin: 4% 30%;
  padding: 1% 4%;
  border-radius: 6px;
  position: relative;
}

#google{
  background-color: var(--google-color);
}

#google:hover{
  background-color: var(--google-hover-color);
}

#facebook{
  background-color: var(--facebook-color);
}

#facebook:hover{
  background-color: var(--facebook-hover-color);
}

.buttonTitle{
  display: inline;
  padding-left: 15px;
  text-decoration: none;
  color: var(--font-main-color);
}

.icon{
  font-size: 1.3em;
  position: absolute;
  left: 3%;
}

.fa-facebook-square{
  font-size: 1.5em;
}

/* register page */

#registerForm{
  background-color: var(--sub-color);
}

/* customerList page */

#searchDiv{
  padding: 2% 5%;
  border-radius: 8px;
  padding-left: 0;
}

#searchInput{
  border: 1px solid black;
}

#searchCustomerIcon{
  font-size: 1.4em;
  color: var(--main-color);
  top: 30px;
}

#foundCustomerDiv{
  margin-top: 3%;
}

#tableHeader{
  background-color: var(--sub-color);
  color: var(--font-main-color);
  padding: 1% 0;
  text-align: center;
  border-radius: 8px;
}

.col{
  border-right: 1px solid white;
}

#dataDiv{
  margin-top: 5%;
}

.cusLiSpan{
  display: none;
}

.custmerData{
  color: var(--font-sub-color);
  margin-bottom: 2%;
}

#tableHeader, .custmerData{
  display: grid;
  grid-template-columns: 17% 17% 18% 13% 25% 10% ;
}

.cusID, .cusAddress{
  font-size: 0.8em;
}

#searchInput{
  margin-bottom: 0;
}

.customerPageIcon{
  font-size: 0.9em;
  margin: 0 5px;
  color: var(--main-color);
  padding: 2px;
  border-radius: 4px;
}

.customerPageIcon:hover{
  background-color: var(--btn-hover-color);
  color: var(--font-main-color);
}

.detailBtn{
  font-size: 0.7em;
  text-decoration: none;
  color: var(--font-main-color);
  background-color: var(--main-color);
  padding: 3px 5px;
  border-radius: 8px;
}

.detailBtn:hover{
  background-color: var(--btn-hover-color);
  color: var(--font-main-color);
}

.sIcons{
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.addHistoryBtn{
  font-size: 0.7em;
  color: var(--font-main-color);
  background-color: var(--main-color);
  padding: 6px;
  margin-top: 20px;
  border-radius: 8px;
}
.addHistoryBtn:hover{
  background-color: var(--btn-hover-color);
  color: var(--font-main-color);
}

/* addEditCustomer page */

#addCustomerForm{
  padding: 5%;
}

.cusInput{
  margin-left: 20px;
}

#comments{
  margin-top: 20px;
  border-radius: 8px;
}

.inoutSectionTitle{
  border-bottom-style: solid; 
}

#newCustomerButton{
  margin-top: 5%;
}

#modelBtnDiv{
  margin: 2% 0;
}

.modelText{
  font-size: 0.8em;
  text-decoration: underline;
  margin-right: 1%;
}

#addModelDivOpenBtn{
  background-color: var(--btn-color);
  color: var(--font-main-color);
  text-decoration: none;
}

#addModelDivOpenBtn:hover{
  background-color: var(--btn-hover-color);
}

.modelInputs{
  margin: 10px 15px;
}

.modelIcon{
  margin-left: 1%;
}

.modelInputs{
  width: 350px;
  height: 20px;
}

.modelLabel{
  font-size: 0.8em;
}

/* customerDetail */

#customerDetailDiv{
  color: var(--font-sub-color);
}

.cusDetailHeader{
  font-size: 0.8em;
}

.cusDetailData{
  color: var(--font-highlight-color);
  font-family: 'Roboto Condensed', sans-serif;
}

#detailDiv{
  display: grid;
  grid-template-columns: 40% 60%;
}

#nameGrid{
  display: grid;
  grid-template-columns: 50% 50%;
}

#hottubBrandModel{
  font-size: 2em;
  margin: 15px 0 15px 0;
}

#workDiv{
  background-color: var(--light-main-color);
  padding: 3%;
  border-radius: 8px;
}

.serviceDiv{
  background-color: var(--darker-main-color);
  color: var(--font-main-color);
  padding: 1.5%;
  border-radius: 8px;
  margin-top: 2%;
}

.workP{
  color: var(--font-main-color);
}

.workForm{
  display: none;
  padding: 1%;
  margin-top: 2%;
  background-color: var(--main-color);
  color: var(--font-main-color);
  border-radius: 8px;
}

/* product config page */
.addEditModelDiv{
  margin-bottom: 2%;
  padding: 2%;
}

#newBrandH3{
  border-top: 1px solid white;
  margin-top: 2%;
  padding-top: 2%;
}

#foundModels{
  display: none;
  background-color: var(--main-color);
  padding: 1%;
  border-radius: 8px;
}

#noFoundModel{
  display: none;
}

#editHottubDiv{
  display: none;
}

@media screen and (max-width: 1350px) {

  /* navigation area */
  .pageLogo{
    top: 7%;
  }

  /* customerList page */

  #tableHeader{
    display: none;
  }

  .custmerData {
    display: block;
    margin-bottom: 5%;
    background-color: var(--darker-main-color);
    border-radius: 8px;
    color: var(--font-main-color);
    padding: 3% 10%;
  }

  .cusLiSpan{
    display: inline-block;
    padding-right: 20px;
  }

  .sIcons {
    display: block;
  }

  .data{
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 1100px) {

  /* navigation area */

  .nav{
    display: none;
  }

  .nav.show{
    display: block;
  }

  .pageLogo{
    top: 8%;
  }

  .topNav{
    padding: 5% 0 5% 12%;
  }

  ul.hamburgerMenu{
    display: block;
    position: absolute;
    top: 8%;
    right: 8%;
  }

  li.hamburgerMenu{
    width: 45px;
    height: 6px;
    margin-bottom: 10px;
    background-color: var(--font-main-color);
  }

  .nav{
    padding-top: 5%;
  }

  .navLi{
    display: block;
    text-align: right;

  }
}

@media screen and (max-width: 950px) {
  /* navigation area */
  .pageLogo{
    top: 7%;
  }
}

@media screen and (max-width: 950px) {
  /* navigation area */
  .pageLogo{
    top: 6%;
  }

  ul.hamburgerMenu{
    top: 7%;
  }

  /* customer detail page */

  #detailDiv{
    display: block;
  }
}